<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.phonegap.plugin.iap"
    version="2.0.5">

	<name>Phonegap IAP plugin</name>
    <description>Phonegap IAP plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>phonegap, plugin, IAP</keywords>
    <repo>https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.iap</repo>
    <issue>https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.iap/issues</issue>
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/wizPurchasePlugin.js">
        <clobbers target="window.wizPurchase" />
    </js-module>
    
    <!-- android -->
    <platform name="android">    
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="wizPurchasePlugin" >
				<param name="android-package" value="jp.wizcorp.phonegap.plugin.wizPurchase.WizPurchasePlugin"/>
			</feature>
	    </config-file>
	    
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="com.android.vending.BILLING" />
        </config-file>		
		
	    <source-file src="src/android/WizPurchasePlugin.java" target-dir="src/jp/wizcorp/phonegap/plugin/wizPurchase"/>
	            
	    <source-file src="src/android/Base64.java" target-dir="src/com/smartmobilesoftware/util"/>
	    <source-file src="src/android/Base64DecoderException.java" target-dir="src/com/smartmobilesoftware/util"/>
	    <source-file src="src/android/IabException.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/IabHelper.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/IabResult.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/Inventory.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/Purchase.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/Security.java" target-dir="src/com/smartmobilesoftware/util"/>
		<source-file src="src/android/SkuDetails.java" target-dir="src/com/smartmobilesoftware/util"/>              
	    <source-file src="src/android/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing"/>
    </platform>
	
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="wizPurchasePlugin">
		        <param name="ios-package" value="WizPurchasePlugin" />
		        <param name="onload" value="true" />
		    </feature>
        </config-file>
               
        <header-file src="src/ios/WizPurchasePlugin.h" />
        <source-file src="src/ios/WizPurchasePlugin.m" />        

        <header-file src="src/ios/WizDebugLog.h" />
        
        <framework src="StoreKit.framework" />                	
    </platform>
	
	<!-- wp8 -->
<!--	
	<platform name="wp8">
        <js-module src="www/wp8/iap.js">
            <clobbers target="window.iap" />
        </js-module>
		
        <config-file target="config.xml" parent="/*">
            <feature name="IAP">
                <param name="wp-package" value="IAP"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/IAP.cs" />
    </platform>	
-->	
</plugin>
